<div class="container register-form">
    <form [formGroup]="registerForm">
        <div class="note">
            <p>Register For Free</p>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="firstName" placeholder="Your Name *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="lastName" placeholder="Your Surname *" value=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="email" placeholder="Your Email *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" formControlName="password" placeholder="Your Password *" value=""/>
                    </div>
                </div>
            </div>
            <button 
            type="button" class="btnSubmit" (click)="register()">Submit</button>
        </div>
    </form>
</div>