<div class="card" style="margin-top: 20px; background-color: grey;">
<form [formGroup]="rentalAddForm">
  
  <button>
    <div class="form-group">
      <p class="card-text">
        <span class="text-muted">Customer : </span>
        <strong>{{getUserName()}}</strong>
      </p>
    </div>
    </button>
    <div class="form-group" >
      <label for="rentDate">Rent Date</label>
      <input
        (change)="calculateTotalPrice()"
        formControlName="rentDate"
        class="form-control"
        type="date"
        name="rentDate"
      />
    </div>
    <div class="form-group">
      <label for="returnDate">Return Date</label>
      <input
        (change)="calculateTotalPrice()"
        formControlName="returnDate"
        class="form-control"
        type="date"
        name="returnDate"
      />
    </div>
    <div *ngIf="totalPrice" class="form-group">
      <label for="">Total Price</label>
      <div>
        <b>{{ totalPrice }} ₺</b>
      </div>
    </div>
  
    <button (click)="addToCart()" class="btn btn-outline-dark">Rent</button>
  </form>
</div>