<html>
  <body>
  <div id="layout">
    <div id="titlebg">
      <div class="title">CAR</div>
      <div class="title1">DEALER</div>
      <div class="title2">WE HAVE</div>
      <div class="title3">THE BEST CARS</div>
    </div>
    <hr id="hrline" />
    <div id="gradientbg">
      <div id="links">
        <div id="arrow"></div>
        <div class="linktxt"> <a href="#" class="linktxt">HOME</a> </div>
        <div id="arrowabout"></div>
        <div class="linktxt"><a href="#" class="linktxt">ABOUT US</a> </div>
        <div id="arrowservice"></div>
        <div class="linktxt"><a href="#" class="linktxt">SERVICES</a></div>
        <div id="arrowcatalogue"></div>
        <div class="linktxt"><a href="#" class="linktxt">CATALOGUE</a></div>
        <div id="arrowcontact"></div>
        <div class="linktxt"><a href="#" class="linktxt">CONTACTS</a></div>
      </div>
      <div id="header"><img src="./assets/header.jpg"></div>
    </div>
     