
<body>
      <section id="service" class="service-icons">
        <div class="container">
          <div class="card" style="background-color: #f88017">
          <img src="/assets/images2.jpeg" width="1000px" />
          <div class="row">
            <div class="col-sm-4 st-service-box">
              <h3 class="text-uppercase"><strong>ABOUT US</strong></h3>
              <h4>
                That awesome feeling ! You start the engine and your adventure
                begins...
              </h4>
            </div>
            <div class="col-sm-8 st-service-box">
              <p>We want to make renting a car as simple and personal as driving your own.
                Renting a car brings you freedom, and we’ll help you find the right car for you at a great price. </p>
            </div>
          </div>
          </div>
        </div>
      </section>
      <section>
      <div class="container contact">
        <div class="row">
          <div class="col-md-3">
            <div class="contact-info">
              <h2>Contact Us</h2>
              <h4>We would love to hear from you !</h4>
            </div>
          </div>
          <div class="col-md-9">
            <div class="contact-form">
              <div class="form-group">
                <label class="control-label col-sm-2" for="fname">First Name:</label>
                <div class="col-sm-10">          
                <input type="text" class="form-control" id="fname" placeholder="Enter First Name" name="fname">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="lname">Last Name:</label>
                <div class="col-sm-10">          
                <input type="text" class="form-control" id="lname" placeholder="Enter Last Name" name="lname">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="email">Email:</label>
                <div class="col-sm-10">
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="comment">Comment:</label>
                <div class="col-sm-10">
                <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
              </div>
              <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>     

