<div class="container">
  <div class="row my-3">
    <div class="col-md-10" role="status">
      <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div
            *ngFor="let image of images; let i = index"
            [ngClass]="getSliderClassName(i)"
          >
            <img
              height="400"
              src="https://localhost:44375{{ image.imagePath }}"
              class="d-block w-100"
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#imageCarousel"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#imageCarousel"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-md-2">
      <div class="card" style="width: 18rem">
        <div class="card-header bg-dark text-white">
          <h3><b>Details</b></h3>
        </div>
        <table class="table">
          <tbody
            *ngFor="let car of cars"
            class="table-secondary align-self-center border border-dark"
            scope="row"
          >
            <tr>
              <th>Brand:</th>
              <td>{{ car.brandName }}</td>
            </tr>

            <tr>
              <th>Color:</th>
              <td>{{ car.colorName }}</td>
            </tr>
            <tr>
              <th>Daily Price:</th>
              <td>{{ car.dailyPrice | currency: "₺" }}</td>
            </tr>
            <tr>
              <th>Description:</th>
              <td>{{ car.description }}</td>
            </tr>
            <tr>
              <th>Model:</th>
              <td>{{ car.modelYear }}</td>
            </tr>
            <tr>
              <th>Findex Note:</th>
              <td>{{ car.findexNote }}</td>
            </tr>
          </tbody>
        </table>


        <button
          *ngFor="let car of cars"
          (click)="AvailableCars(car.id)"
          [hidden]="!CarsAvailable"
          routerLink="/rentals/add/{{ car.id }}"
          class="btn btn-outline-success"
        >
          Rent
        </button>

        <div *ngIf="showAlert" class="alert alert-danger mt-5" role="alert">
          Sorry the car already rented, please check the other cars.
        </div>
        <button
          *ngFor="let car of cars"
          routerLink="/cars/update/{{ car.id }}"
          class="btn btn-warning"
          style="margin-top: 5px"
        >
          Güncelle
        </button>
      </div>
    </div>
  </div>
</div>
